<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PrincipalMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_PRINCIPAL
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		PROVINCE_ID,	
		PROVINCE_NAME,	
		AREA_ID,	
		AREA_NAME,	
		USER_ID,	
		USER_NAME,	
		PHONE,	
		PRINCIPAL_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{PROVINCE_ID},	
		#{PROVINCE_NAME},	
		#{AREA_ID},	
		#{AREA_NAME},	
		#{USER_ID},	
		#{USER_NAME},	
		#{PHONE},	
		#{PRINCIPAL_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PRINCIPAL_ID = #{PRINCIPAL_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			PROVINCE_NAME = #{PROVINCE_NAME},
			AREA_NAME = #{AREA_NAME},
			USER_NAME = #{USER_NAME},
			PROVINCE_ID = #{PROVINCE_ID},
			PHONE = #{PHONE},
			AREA_ID = #{AREA_ID},
			USER_ID = #{USER_ID},
		PRINCIPAL_ID = PRINCIPAL_ID
		where 
		PRINCIPAL_ID = #{PRINCIPAL_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PRINCIPAL_ID = #{PRINCIPAL_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					AREA_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					PROVINCE_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
					 or 
					USER_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PRINCIPAL_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 通过NAME获取数据 -->
	<select id="findByName" parameterType="pd" resultType="pd" >
		select 
			<include refid="Field"></include>
		from 
			<include refid="tableName"></include>
		where 
			NAME = #{NAME}
	</select>
	
	
	<!-- kuang 767375210 -->
</mapper>