<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectApplyMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_PROJECTAPPLY
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		USER_ID,	
		USERNAME,	
		FILE_TYPE,	
		FILE_NAME,	
		PROJECT_NAME,	
		PROJECT_ID,	
		NUM,	
		NAME,	
		PHONE,	
		ADDR,	
		BID_DOCUMENT,	
		CREATE_TIME,	
		STATUS,	
		PROJECTAPPLY_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{USER_ID},	
		#{USERNAME},	
		#{FILE_TYPE},	
		#{FILE_NAME},	
		#{PROJECT_NAME},	
		#{PROJECT_ID},	
		#{NUM},	
		#{NAME},	
		#{PHONE},	
		#{ADDR},	
		#{BID_DOCUMENT},	
		#{CREATE_TIME},	
		#{STATUS},	
		#{PROJECTAPPLY_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PROJECTAPPLY_ID = #{PROJECTAPPLY_ID}
	</delete>
	
	<!-- 审核-->
	<update id="checkProjectApply" parameterType="pd">
		update
		tb_project
		set STATUS = #{STATUS}
		where 
			PROJECT_ID = #{PROJECT_ID}
	</update>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			FILE_TYPE = #{FILE_TYPE},
			FILE_NAME = #{FILE_NAME},
			PROJECT_NAME = #{PROJECT_NAME},
			PROJECT_ID = #{PROJECT_ID},
			NUM = #{NUM},
			NAME = #{NAME},
			PHONE = #{PHONE},
			ADDR = #{ADDR},
			BID_DOCUMENT = #{BID_DOCUMENT},
			STATUS = #{STATUS},
		PROJECTAPPLY_ID = PROJECTAPPLY_ID
		where 
		PROJECTAPPLY_ID = #{PROJECTAPPLY_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PROJECTAPPLY_ID = #{PROJECTAPPLY_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		pa.USER_ID,	
		pa.USERNAME,	
		pa.FILE_TYPE,	
		pa.FILE_NAME,	
		pa.PROJECT_NAME,	
		pa.PROJECT_ID,	
		pa.NUM,	
		pa.NAME,	
		pa.PHONE,	
		pa.ADDR,	
		pa.BID_DOCUMENT,	
		pa.CREATE_TIME,	
		po.STATUS,	
		pa.PROJECTAPPLY_ID 
		from 
		<include refid="tableName"></include> pa left join tb_project po on pa.PROJECT_ID = po.PROJECT_ID
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					pa.PROJECT_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					pa.NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
					 or 
					pa.PHONE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				)
		</if>
		<if test="pd.STATUS!= null and pd.STATUS != ''">
			and po.STATUS = #{pd.STATUS}
		</if>
		<if test="pd.lastStart!= null and pd.lastStart != ''">
			and pa.CREATE_TIME &gt;= #{pd.lastStart}
		</if>
		<if test="pd.lastEnd!= null and pd.lastEnd != ''">
			and pa.CREATE_TIME &lt;= #{pd.lastEnd}
		</if>
		<if test="pd.USER_ID!= null and pd.USER_ID != ''">
			and pa.USER_ID = #{pd.USER_ID}
		</if>
		<if test="pd.PROJECT_LIST != null and pd.PROJECT_LIST.size() > 0  ">
			and pa.PROJECT_ID in
			<foreach collection="pd.PROJECT_LIST" index="index" item="custid"
				open="(" separator="," close=")">
				#{pd.PROJECT_LIST[${index}]}
			</foreach>
		</if>
		ORDER BY po.STATUS asc, pa.CREATE_TIME DESC
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PROJECTAPPLY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 通过NAME获取数据 -->
	<select id="findByName" parameterType="pd" resultType="pd" >
		select 
			<include refid="Field"></include>
		from 
			<include refid="tableName"></include>
		where 
			PROJECT_ID = #{NAME}
	</select>
	
	<!-- 获取总数 -->
	<select id="getProAppCheckCount" parameterType="page" resultType="pd">
		select 
			count(PROJECT_ID) proAppCheckCount
		from 
		tb_project where  STATUS = #{pd.STATUS}
		<if test="pd.PROJECT_LIST != null and pd.PROJECT_LIST.size() > 0 ">
			and PROJECT_ID in
			<foreach collection="pd.PROJECT_LIST" index="index" item="custid"
				open="(" separator="," close=")">
				#{pd.PROJECT_LIST[${index}]}
			</foreach>
		</if>
	</select>
	
	<!-- kuang 767375210 -->
</mapper>